In [3]:
import graphlab
print "-------"

-------

In [4]:
sales = graphlab.SFrame('../data/home_data.gl/')
print type(sales), sales.shape

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: Z:\WINTEMP\graphlab_server_1477711824.log.0

This non-commercial license of GraphLab Create for academic use is assigned to bmatthewtaylor@gmail.com and will expire on October 27, 2017.
<class 'graphlab.data_structures.sframe.SFrame'> (21613, 21)

In [5]:
print sales.column_names()

['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [6]:
sales['zipcode']

dtype: str
Rows: 21613
['98178', '98125', '98028', '98136', '98074', '98053', '98003', '98198', '98146', '98038', '98007', '98115', '98028', '98074', '98107', '98126', '98019', '98103', '98002', '98003', '98133', '98040', '98092', '98030', '98030', '98002', '98119', '98112', '98115', '98052', '98027', '98133', '98117', '98117', '98058', '98115', '98052', '98107', '98001', '98056', '98074', '98166', '98053', '98119', '98058', '98019', '98023', '98007', '98115', '98070', '98148', '98056', '98117', '98117', '98105', '98105', '98042', '98042', '98008', '98059', '98166', '98148', '98166', '98115', '98122', '98144', '98004', '98001', '98042', '98004', '98005', '98034', '98125', '98038', '98042', '98075', '98008', '98116', '98133', '98010', '98038', '98038', '98118', '98059', '98125', '98119', '98092', '98056', '98056', '98136', '98023', '98199', '98023', '98117', '98117', '98040', '98032', '98023', '98038', '98045', ... ]

In [17]:
len(sales['zipcode'])

21613

In [18]:
import graphlab.aggregate as agg

In [19]:
zipSalesStats = sales.groupby(key_columns='zipcode', operations={
    'mean_price': agg.MEAN('price'),
    'max_price': agg.MAX('price'),
    'min_price': agg.MIN('price')
    })
print zipSalesStats
print zipSalesStats.shape

+---------+-----------+---------------+-----------+
| zipcode | min_price |   mean_price  | max_price |
+---------+-----------+---------------+-----------+
|  98032  |   85000   |   251296.24   |   545000  |
|  98115  |   200000  |  619900.5506  |  2300000  |
|  98075  |   406430  | 790576.668524 |  3200000  |
|  98034  |   90000   | 521652.858716 |  3120000  |
|  98106  |   90000   |  319581.39403 |   795000  |
|  98024  |   142000  | 580526.790123 |  1862000  |
|  98122  |   202000  | 634360.175862 |  2050000  |
|  98010  |   135000  |   423665.99   |   935000  |
|  98117  |   125000  | 576795.007233 |  1370000  |
|  98116  |   130000  | 618634.178788 |  2050000  |
+---------+-----------+---------------+-----------+
[70 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.
(70, 4)

In [20]:
type(zipSalesStats['mean_price'])

graphlab.data_structures.sarray.SArray

Quiz Q1: We found the zip code with the highest average house price. What is the average house price of that zip code?  
max mean_price= 2160606 is correct answer

In [21]:
temp = zipSalesStats['mean_price'].max()
print "max mean_price=", int(temp)
max_zipcode = list(zipSalesStats['mean_price']).index(temp)
#print "index of max mean_price=", max_zipcode
print "zip code with max mean = ", zipSalesStats['zipcode'][max_zipcode]

max mean_price= 2160606
zip code with max mean =  98039

In [22]:
sqft_living = list(sales['sqft_living'])
print type(sqft_living)
print len(sqft_living)

<type 'list'>
21613

In [23]:
print sqft_living[0:10]

[1180L, 2570L, 770L, 1960L, 1680L, 5420L, 1715L, 1060L, 1780L, 1890L]

In [24]:
sales['sqft_living'][0:20]

dtype: int
Rows: 20
[1180L, 2570L, 770L, 1960L, 1680L, 5420L, 1715L, 1060L, 1780L, 1890L, 3560L, 1160L, 1430L, 1370L, 1810L, 2950L, 1890L, 1600L, 1200L, 1250L]

In [25]:
print type(sales['sqft_living'][0])

<type 'long'>

In [26]:
print type(sales)

<class 'graphlab.data_structures.sframe.SFrame'>

In [27]:
sqft_living2kto4k = [i for i in sqft_living if (i >= 2000 and i<=4000)]
print sqft_living2kto4k[0:10]
print len(sqft_living2kto4k)
print len(sqft_living)

[2570L, 3560L, 2950L, 3050L, 2270L, 2450L, 2450L, 2570L, 2320L, 2330L]
9221
21613

Quiz question 2 : 'What fraction of the houses have living space between 2000 sq.ft. and 4000 sq.ft.?'  
correct answer = Between 0.4 and 0.49

In [29]:
print ' fraction of the houses have living space between 2000 sq.ft. and 4000 sq.ft. =', len(sqft_living2kto4k)*1.0 / len(sqft_living)

 fraction of the houses have living space between 2000 sq.ft. and 4000 sq.ft. = 0.426641373248