In [8]:
import graphlab
people = graphlab.SFrame('../data/people_wiki.gl/')

In [9]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [10]:
#elton = people[people['name'] == 'Elton John']

In [11]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])
#https://turi.com/products/create/docs/generated/graphlab.text_analytics.tf_idf.html

# Earlier versions of GraphLab Create returned an SFrame rather than a single SArray
# This notebook was created using Graphlab Create version 1.7.1
if graphlab.version <= '1.6.1':
    tfidf = tfidf['docs']
print type(tfidf)

<class 'graphlab.data_structures.sarray.SArray'>

In [14]:
people['tfidf'] = tfidf
print people.column_names

<bound method SFrame.column_names of Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'since': 1L, 'carltons': ... |
| alfred j lewy aka sandy le... | {'precise': 1L, 'thomas': ... |
| harpdog brown is a singer ... | {'just': 1L, 'issued': 1L,... |
| franz rottensteiner born i... | {'all': 1L, 'bauforschung'... |
| henry krvits born 30 decem... | {'legendary': 1L, 'gangste... |
| sam henderson born october... | {'now': 1L, 'currently': 1... |
| aaron lacrate is an americ... | {'exclusive': 2L, 'produce... |
| trevor ferguson aka john f... | {'taxi': 1L, 'salon': 1L, ... |
| grant nelson born 27 april... | {'houston': 1L, 'frankie':... |
| cathy caruth born 1955 is ... | {'phenomenon': 1L, 'debora... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'since': 1.45537671730804... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'legendary': 4.2808562943... |
| {'now': 1.96695239252401, ... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.>

In [15]:
elton = people[people['name'] == 'Elton John']
print elton.shape
print elton

(1, 5)
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'all': 1L, 'six': 1L, 'pr... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [18]:
elton[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [24]:
print "elton.shape=", elton.shape
print type(elton[['tfidf']]), elton[['tfidf']].shape
print elton[['tfidf']]

elton.shape= (1, 5)
<class 'graphlab.data_structures.sframe.SFrame'> (1, 1)
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'all': 1.6431112434912472... |
+-------------------------------+
[1 rows x 1 columns]

In [13]:
knn_model = graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

In [25]:
knn_model.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 20.019ms     |

| Done         |         | 100         | 157.15ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    Elton John   |      0.0       |  1   |
|      0      |   Phil Collins  | 0.76399026764  |  2   |
|      0      |   Rod Stewart   | 0.773333333333 |  3   |
|      0      |   Annie Lennox  | 0.776623376623 |  4   |
|      0      |    Barry Gibb   | 0.780952380952 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [26]:
obama = people[people['name'] == 'Barack Obama']

In [27]:
obama[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 273

Data:
+-------------+---------------+
|     word    |     tfidf     |
+-------------+---------------+
|    obama    | 43.2956530721 |
|     act     |  27.678222623 |
|     iraq    |  17.747378588 |
|   control   | 14.8870608452 |
|     law     | 14.7229357618 |
|   ordered   | 14.5333739509 |
|   military  | 13.1159327785 |
| involvement | 12.7843852412 |
|   response  | 12.7843852412 |
|  democratic | 12.4106886973 |
+-------------+---------------+
[273 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [28]:
knn_model.query(obama)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 16.02ms      |

| Done         |         | 100         | 139.134ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Barack Obama  |      0.0       |  1   |
|      0      |    Joe Biden    | 0.794117647059 |  2   |
|      0      |  Joe Lieberman  | 0.794685990338 |  3   |
|      0      |   Kelly Ayotte  | 0.811989100817 |  4   |
|      0      |   Bill Clinton  | 0.813852813853 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [36]:
victoria = people[people['name'] == 'Victoria Beckham']

In [37]:
#victoria[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

In [38]:
results = knn_model.query(victoria)
print type(knn_model)
print type(results), results.shape
print results

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 14.014ms     |

| Done         |         | 100         | 141.136ms    |

<class 'graphlab.toolkits.nearest_neighbors._nearest_neighbors.NearestNeighborsModel'>

+--------------+---------+-------------+--------------+

<class 'graphlab.data_structures.sframe.SFrame'> (5, 4)
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      | Victoria Beckham |      0.0       |  1   |
|      0      |   Cheryl Cole    | 0.800586510264 |  2   |
|      0      |    Heidi Klum    | 0.810344827586 |  3   |
|      0      |   Simon Fuller   | 0.822742474916 |  4   |
|      0      |      Adele       | 0.824915824916 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]