In [2]:
import graphlab
print "-----------"
import graphlab.aggregate as agg
print "xxxxxxxxxxxx"
url = 'https://static.turi.com/datasets/rating_data_example.csv'
sf = graphlab.SFrame.read_csv(url)
sf

-----------
xxxxxxxxxxxx
This non-commercial license of GraphLab Create for academic use is assigned to bmatthewtaylor@gmail.com and will expire on October 27, 2017.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\username\AppData\Local\Temp\graphlab_server_1479958339.log.0

Downloading https://static.turi.com/datasets/rating_data_example.csv to C:/Users/username/AppData/Local/Temp/graphlab-username/4396/81fa28b6-2b6e-4b3d-a84c-288c0652225d.csv

Finished parsing file https://static.turi.com/datasets/rating_data_example.csv

Parsing completed. Parsed 100 lines in 0.035066 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[long,long,long]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file https://static.turi.com/datasets/rating_data_example.csv

Parsing completed. Parsed 10000 lines in 0.02953 secs.

Columns:
	user_id	int
	movie_id	int
	rating	int

Rows: 10000

Data:
+---------+----------+--------+
| user_id | movie_id | rating |
+---------+----------+--------+
|  25904  |   1663   |   3    |
|  25907  |   1663   |   3    |
|  25923  |   1663   |   3    |
|  25924  |   1663   |   3    |
|  25928  |   1663   |   2    |
|  25933  |   1663   |   4    |
|  25934  |   1663   |   4    |
|  25935  |   1663   |   4    |
|  25936  |   1663   |   5    |
|  25937  |   1663   |   2    |
+---------+----------+--------+
[10000 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [3]:
print type(sf)

<class 'graphlab.data_structures.sframe.SFrame'>

In [4]:
user_count = sf.groupby(key_columns='user_id', operations={'count': agg.COUNT()})

In [6]:
print user_count.sort('count', ascending = False)

+---------+-------+
| user_id | count |
+---------+-------+
|    83   |   8   |
|   294   |   4   |
|   127   |   4   |
|   105   |   4   |
|   264   |   3   |
|  36221  |   3   |
|   1316  |   3   |
|   2034  |   3   |
|    4    |   3   |
|  32312  |   2   |
+---------+-------+
[9852 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.